<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <ASS>
        <InstallWinget>False</InstallWinget>
        <RegistryBackup>True</RegistryBackup>
        <RegistryFile>preferences.reg</RegistryFile>
        <Unattended>True</Unattended>
    </ASS>
    <System>
        <TimeZone>Eastern Standard Time</TimeZone>
    </System>
    <Install>
        <Package>7zip.7zip</Package>
        <Package comment="Windows Terminal">9N0DX20HK701</Package>
        <Package comment="Sysinternals">9p7knl5rwt25</Package>
        <Package>AngusJohnson.ResourceHacker</Package>
        <Package>CrystalDewWorld.CrystalDiskInfo</Package>
        <Package>Discord.Discord</Package>
        <Package>Git.Git</Package>
        <Package>GitHub.GitHubDesktop</Package>
        <Package>KeePassXCTeam.KeePassXC</Package>
        <Package>MHNexus.HxD</Package>
        <Package>Microsoft.PowerToys</Package>
        <Package>Microsoft.VCRedist.2005.x86</Package>
        <Package>Microsoft.VCRedist.2005.x64</Package>
        <Package>Microsoft.VCRedist.2008.x86</Package>
        <Package>Microsoft.VCRedist.2008.x64</Package>
        <Package>Microsoft.VCRedist.2010.x86</Package>
        <Package>Microsoft.VCRedist.2010.x64</Package>
        <Package>Microsoft.VCRedist.2012.x86</Package>
        <Package>Microsoft.VCRedist.2012.x64</Package>
        <Package>Microsoft.VCRedist.2013.x86</Package>
        <Package>Microsoft.VCRedist.2013.x64</Package>
        <Package>Microsoft.VCRedist.2015+.x86</Package>
        <Package>Microsoft.VCRedist.2015+.x64</Package>
        <Package>Mobatek.MobaXterm</Package>
        <Package>Mozilla.Firefox</Package>
        <Package>MSYS2.MSYS2</Package>
        <Package>OBSProject.OBSStudio</Package>
        <Package>OpenJS.NodeJS</Package>
        <Package>RaspberryPiFoundation.RaspberryPiImager</Package>
        <Package>ShareX.ShareX</Package>
        <Package>Valve.Steam</Package>
        <Package>VideoLAN.VLC</Package>
        <Package>voidtools.Everything</Package>
        <Package>VSCodium.VSCodium</Package>
        <Package>WinMerge.WinMerge</Package>
        <Package>WiresharkFoundation.Wireshark</Package>
    </Install>
    <Uninstall>
        <Package comment="Cortana">Microsoft.549981C3F5F10</Package>
        <Package>Microsoft.MicrosoftEdge.Stable</Package>
        <Package>Microsoft.People</Package>
        <Package>Microsoft.WindowsCamera</Package>
        <Package>Microsoft.WindowsMaps</Package>
        <Package>Microsoft.XboxGameOverlay</Package>
        <Package>Microsoft.XboxSpeechToTextOverlay</Package>
        <Package>Microsoft.YourPhone</Package>
        <Package>Microsoft.ZuneMusic</Package>
    </Uninstall>
</Settings>
